[2015-08-12 18:50] ssendev opened #1 "initial value via 'selection' does not work"
this can be seen in the demo

[2015-08-13 02:39] jackmatt2 commented on #1
oh yeah, I must have broken it.  Will get this fixed tonight.

[2015-08-13 02:54] jackmatt2 commented on #1
@ssendev fixed as of version 0.0.6

[2015-08-13 02:54] #1 closed

[2015-08-13 10:08] jackmatt2 commented on #1
@ssendev you might want to install 0.0.9, that will install the bower dependency properly.

[2015-08-13 12:34] ssendev commented on #1
cool that was fast. it is working now. i have made a small enhancement #2 but am not entirely sure it is bulletproof

[2015-09-16 03:58] jackmatt2 opened #3 "setting selection to null not working"
1. computed.reads('selection') does not seem to fire observers when 'selection' is set to null.
2. aupac-ember-data-typeahead - even if the above is fixed, if a setValue is called with an object and then to null, value will magically update with the previous model name once the promise is resolved.

[2015-09-29 17:24] acorncom opened #4 "Adding ember-aupac-typeahead adds 80kb to my minified vendor.js file"
It looks like it's due to the use of the `ember-cli-htmlbars` dependency (https://github.com/aupac/ember-aupac-typeahead/blob/master/package.json#L58) and it's use in the component (https://github.com/aupac/ember-aupac-typeahead/blob/master/addon/components/aupac-typeahead.js#L204)

You've got the most feature complete typeahead add-on in the Ember ecosystem right now (I've just been doing some th

[2015-09-29 22:11] jackmatt2 commented on #4
@acorncom, I agree the payload is too big.

I am pretty sure it is due to the `ember-template-compiler` which is used for client side template compilation.  By default this is not included in a typical `ember build --environment=production`.

[code]

this allows the user to add their own custom templates.

[code]

I am not sure there is a way around this but definitely open to suggestions.

[2015-09-29 22:46] acorncom commented on #4
@jackmatt2 A couple of ideas on making the payload smaller:
- change the defaults so that people like me don't get hurt if we don't read the entire readme ;-)  That'd be a breaking change, but would probably make you popular with all the folks who are including this info without realizing it.
- as far as adding custom templates, could you take advantage of the Ember component `templateForName` and

[2015-09-29 23:11] jackmatt2 commented on #4
Yep, I like this idea.  So essentially instead of compiling a string the user will point to a `*.hbs` template and use that instead (which is already compiled by ember-cli).  I will need to investigate but essentially if the user could do.

`{{aupac-typeahead suggestionTemplate=myTemplate action=...}}`

and

`myTemplate` was a reference to a compiled `hbs` file on the controller, this would work p

[2015-09-29 23:19] acorncom commented on #4
Yep, I like it to.  If they want the complexity, their template can look a bit messier ;-)

I'm out of the office the rest of the week, but am happy to help test things here when I get back if needed.

[2015-09-29 23:44] jackmatt2 opened #5 "toggling disabled property breaks css"
Need to rerender the component when the disabled property is changed as the mask does not update the disabled attribute.

[2015-09-30 05:57] #4 closed

[2015-09-30 05:57] #5 closed

[2015-09-30 06:01] jackmatt2 commented on #4
@acorncom updated.  Can you try 2.0.0 and get back to me with the payload size now the `ember-template-compiler` has been removed?

[2015-09-30 12:19] #3 closed

[2015-10-05 23:33] acorncom commented on #4
@jackmatt2 :+1: Using 2.0.2, the increase in payload size is now 9kb gzipped and minified.  Much better, thanks!

[2015-10-05 23:34] acorncom opened #6 "Start using a CHANGELOG.md file"
I'm finding the use of a `CHANGELOG.md` is a huge help when using a number of different add-ons and periodically upgrading them.  Here's an example of a change log that's saved me a ton of headaches over time: https://github.com/simplabs/ember-simple-auth/blob/master/CHANGELOG.md

Would it be possible to start using one for this add-on as well?

[2015-10-05 23:41] acorncom opened #7 "Combine forces with `ember-cli-twitter-typeahead` somehow?"
See my issue at https://github.com/thefrontside/ember-cli-twitter-typeahead/issues/12  This add-on seems to be better maintained (and more full-featured).  I'd love to see a bit more of a generic NPM package name though ;-)

[2015-10-06 04:34] jackmatt2 commented on #6
Yep, I was going to do this but forgot.

[2015-10-06 11:02] #6 closed

[2015-10-06 11:06] jackmatt2 commented on #7
In terms of the name - it was an attempt to prevent namespace clashes. All our public addons start with `ember-aupac` thus preventing clashes with other npm repositories using the same name.  It also acts as a bit of a branding.

[2015-10-06 11:07] jackmatt2 opened #8 "Unit test components"
Add unit tests.

[2015-11-19 09:23] peec opened #9 "Ember 2.2 - "Maximum call stack size exceeded" due to computed.reads('selection')"
Upgraded to ember 2.2.0 and ember-data 2.2.

This code:

[code]

Generates this error:

[code]

After debugging, I found that removing this computed CP:

[code]

Error disappeared, but now it does not display initial value,

Any ideas of fix ? I'll look into this as well.

[2015-11-19 09:44] peec commented on #9
Related PR fixes this issue (also works with initial value).

[2015-11-19 09:47] #9 closed

[2015-12-03 13:26] ymph opened #11 "Allow free input"
Hello,

First thank you very much for this library.
It does mostly what I need and save me a fair amount of work.

The only thing I was able to configure, is a way to allow free inputs.

This is definitively possible on the original typeahead library, but I could not find a way to avoid having the control being emptied when the user does not make a selection.
I found a workaround by adding the que

[2015-12-03 20:18] jackmatt2 commented on #11
Are you using `aupac-typeahead` or `aupac-ember-data-typeahead`?  Can you supply an example of a free input in typeahead?  I had a look at their [examples](https://twitter.github.io/typeahead.js/examples/) page but can't see anything about free inputs.

[2015-12-03 20:22] kgusarov opened #12 "Allow different components to be used in templates"
Hi!

In my opinion it would be nice to be able not to only specify template but also the component for typeahead templates. Recently I've had to create a footer with custom action and this is what I've came to:

[code]

Notice that I've had to copy almost all the code just to change small part of it :)

[2015-12-03 20:30] jackmatt2 commented on #11
Ah, I think I see what you mean now.  I might be able to add a `freeInput=true` option, but this would only be available for `aupac-typeahead` not `aupac-ember-data-typeahead`.

[2015-12-03 20:39] jackmatt2 commented on #12
Yep this seems reasonable.  I think using components instead of compiled templates might be the way to go.

[2015-12-03 20:40] kgusarov commented on #12
Also I've "hacked" dynamically created components. Notice:

[code]

[2015-12-04 10:28] #11 closed

[2015-12-04 10:49] jackmatt2 commented on #11
ember-aupac-typeahead@2.0.4

pass new option `allowFreeInput=true`

[2015-12-04 11:10] jackmatt2 commented on #12
Is the reason for `parentView: self` because you wanted your actions to be handled by the controller and not swallowed by `aupac-typeahead`? We need a good and official way of handling this as there will be an unknown number of actions on the component.  Ideas are welcome.

[2015-12-04 12:12] kgusarov commented on #12
Actually I was trying to trigger action in `aupac-typeahead`. Maybe something has changed now since I am using Ember 1.13.10. However action wasn't triggered and I've received something like

Yes, this was sort of hack - in order to write `{{action 'someAction' target=parentView}}` in component template. However this doesn't seem a correct way to me. Main problem here is that dynamically create co

[2015-12-06 17:43] ymph commented on #11
Hello,
Thanks for the reactivity !

I upgraded and i works as expected.
Thank you again.

ymph

[2016-02-25 16:48] GiovanniL19 opened #14 "Setting Suggestion Value from Object property"
Hi,

I am unsure on how to set the suggestion value. For example
![screen shot 2016-02-25 at 16 31 03](https://cloud.githubusercontent.com/assets/10454722/13326301/33ea38fe-dbdd-11e5-91a9-636d1d25b0ae.png)

The first result should say 'Test', the object contains a value called `companyName` which I would like to use.

My handlebar looks like this
`{{aupac-typeahead action=(action (mut typeAheadCas

[2016-02-25 22:27] jackmatt2 commented on #14
It need to reference a function, try this on your controller.

[code]

And then set the display property to reference that function.

[code]

[2016-02-26 11:31] GiovanniL19 commented on #14
Thanks @jackmatt2 for your quick response! The function works great however the `display` is still showing the object :/

[2016-02-26 13:54] jackmatt2 commented on #14
Try supplying a custom suggestion template - inside the template you can do:

[code]

https://github.com/aupac/ember-aupac-typeahead#using-your-own-custom-template

[2016-03-03 02:20] noeliasfranco opened #16 "Not encode queryKey"
Hi! I'm using the component and in the queryKey I need to pass something like this:

`queryKey='filter=company-name'`

The problem is that the component is encoding the = next to filter and because that the API is not returning the corresponding results. How can I do in order to not enconde the queryKey?

Thanks in advance!

[2016-03-03 08:37] jackmatt2 commented on #16
The URL encoding is part of the [typeahead.js](https://twitter.github.io/typeahead.js/) library so can't be changed.  Besides, I can't see how the above can possibly be a query parameter key anyway otherwise you would get a URL like this `/search?filter=company-name=YOUR-TEXT` . An `=` sign as part of a query key is not valid in any URL.  Do you mean `queryKey='filter'`?.  Then you would get a URL

[2016-03-03 08:38] jackmatt2 commented on #14
@GiovanniL19 is this issue solved?

[2016-03-03 09:08] GiovanniL19 commented on #14
@jackmatt2 sorry for late reply, been really busy! still no luck :/ I will probably start it again from scratch in a different project and see if the same issue happens

[2016-03-03 09:39] GiovanniL19 commented on #14
Solved! this is the code that worked for me:

[code]

Thanks @jackmatt2 for your help! :+1:

[2016-03-09 08:33] jackmatt2 commented on #16
@noeliasfranco did you manage to get this working?

[2016-03-23 08:04] #16 closed

[2016-07-05 11:17] initram commented on #14
I also have this problem, I would really like to avoid having to return a list of strings from the source function.

the issue can be seen here: https://ember-twiddle.com/9ce5aa66ba8908046044ac5dd7b68961?openFiles=controllers.application.js%2C

The suggestion text is displayed correctly in the search box, but not in the drop down.

Also: why is the scollbar always displayed?

[2016-07-05 12:36] jackmatt2 commented on #14
yes, this is quite annoying.  You can get around it in the suggestion by supplying a custom suggestion template but it is still displaying as `[object object]` in the text field once something is selected.

[2016-07-06 11:19] initram commented on #14
Is there a reason why you always provide your own templates as default instead of relying on the default templates from typeahead? It seems that this is causing at least one of the issues seen here. You do not use the display function in your default suggestion template, but if you simply omitted the template then typeahead would supply a default template that does it correctly.

I am not sure abo

[2016-07-07 07:12] initram commented on #14
I got it to work, but I don't think that it is pretty or clear that this is what is needed to support object suggestions:

https://ember-twiddle.com/9ce5aa66ba8908046044ac5dd7b68961?openFiles=controllers.application.js%2C

I had to set both the "display" and "transformSelection" (why does the component expose both? when would it make sense for them to be different?) to my function that pulls out t

[2016-07-07 09:01] jackmatt2 commented on #14
Agree, having two places for this makes no sense.
On 7 Jul 2016 5:12 p.m., "Martin Midtgaard" notifications@github.com
wrote:

[2016-07-11 15:09] frunjik commented on #8
Hi,

I am in the process of writing tests for the component.

The PR i made for changing the selector used in the test-helper, is not enough to make a test with, there are (still) several problems with the current test helper:

- The way the selector is used to find and select a suggestion is wrong.
The selector '.typeahead-suggestion:nth-child(x)', will only work if you give a 1 for the index arg

[2016-07-29 15:15] scottwernervt opened #21 "Action is fired when user clicks off input if allowFreeInput=true"
The typeahead action is being fired when `allowFreeInput=true` and user clicks off the input. I expect the action to fire if the user performs the following:

- Return key
- Mouse select
- Mobile touch

[ember-twiddle](https://ember-twiddle.com/8bb2a2c2448f1cbee941b0bc2af23daf?openFiles=templates.application.hbs%2C)

**appplication.js**
[code]

**application.hbs**
[code]

[2016-08-02 13:04] jackmatt2 commented on #21
Thanks, I will look into fixing this for the next release.

[2016-08-10 08:20] ymph opened #23 "Error in Ember 2.8"
Hello,

First thank you very much for this useful ember extension.

I recently tested my application under ember v2.8.0-beta.2 and have the following errors in console wen
`TypeError: Component.create(...).createElement is not a function.`
I traced that the error comes from the following location [addon/components/aupac-typeahead.js# initializeTypeahead](https://github.com/aupac/ember-aupac-typeah

[2016-08-25 13:20] ymph commented on #23
Hello,

My issue declaration does not seems to have a lot of success.
Here my current situation.

I have searched quite a lot for a workaround for this problem.
This problem is in fact linked to the possibility of using ember templates outside ember.
When you do a search like "ember template to string" in goggle, you see quite a lot of threads on this subjects. But the solutions given all revolve

[2016-08-27 12:49] jackmatt2 commented on #23
Thanks for reporting this, this is a major issue.

[2016-08-27 14:02] rwjblue commented on #23
I think the quickest solution here would be to create a DOM element, then use appendTo (instead of createElement).

[2016-08-27 14:43] jackmatt2 commented on #23
OK, thanks.  I will give this a try.

[2016-08-28 07:27] ymph commented on #23
Hello,

Just some observation I made during my attempts to solve this problem:
- appendTo is not part of the ember component official API (
  http://emberjs.com/api/classes/Ember.Component.html). Ember does not offer
  an access to the API documentation of the previous versions, therefore, I
  was unable to determine if it was there before.
- The problem I was not able to solve was in fact to "rea

[2016-08-31 23:02] jackmatt2 commented on #23
@ymph Have not had time to look at this yet, I will give it a go this weekend probably.

[2016-09-20 20:05] smfoote commented on #23
Has there been any progress on this? Anything I can do to help? (This is the last step for my Ember 2.8 upgrade)

[2016-09-20 20:18] jackmatt2 commented on #23
Have not had time to do anything on this. Will accept a pull request that
solves the issue.

On 21 Sep 2016 6:05 a.m., "Steven" notifications@github.com wrote:

[2016-09-20 22:40] smfoote commented on #23
Let me know what you think of #24 - I think there are issues that need to be resolved, but it seems like a reasonable approach, considering how simple the templates are.

[2016-09-20 22:41] smfoote commented on #23
Just noticed that this destroys the extensibility of the `suggestionTemplate`. I'll keep investigating.

[2016-09-27 14:16] frunjik opened #25 "Is there a way to set the tabindex ?"
How to set the tabindex ?

I tried (quickly) by adding an attribute binding for tabindex,
but that does not seem to work ...

Is there some other way to set the tabindex (from a template) ?

[2016-09-27 21:17] jackmatt2 commented on #25
Not that I know of right now. I can add it as a feature though.

On 28 Sep 2016 12:55 a.m., "frunjik" notifications@github.com wrote:

[2016-09-28 19:54] frunjik commented on #25
How would you go about that ?

For now I have a workaround by setting the element.tabIndex in some
component.didInsertElement, but i would like a better (cleaner) solution...

2016-09-27 23:17 GMT+02:00 Jack Matthews notifications@github.com:

[2016-10-02 17:09] matthias-k opened #26 "accessing parent component in source function"
Hi!

I am using the `aupac-typeahead` component in my project. In my usecase, the functionality of the source function depends on some properties of the parent component (or controller). However, I can't use `this` inside the source function to access my component, instead the source function seems to be bound to the jQuery typeahead component. Here is a demonstration twiddle:

https://ember-twidd

[2016-10-02 17:50] matthias-k commented on #26
Thanks to camonz from the ember slack channel, I have the answer. The solution is to convert the source function to an action and call it via `source=(action "sourceFn")`. For an updated twiddle see:

https://ember-twiddle.com/6807d81cbaeb475cdb115ed16b8890d1?openFiles=templates.application.hbs%2C

[2016-10-02 17:50] #26 closed

[2016-10-04 11:43] #23 closed

[2016-10-04 11:47] jackmatt2 commented on #21
Actually this is the correct behaviour.  allowFreeInput allows the user to type whatever they like into the input field or choose something from the autocomplete list.

[2016-10-04 11:47] #21 closed

[2016-10-04 12:04] #25 closed

[2016-10-11 09:31] kennethlarsen opened #29 "Backspace is deleting everything"
There's an issue with {{aupac-typeahead}} where deleting a single character in the input removes the entire input value. This is very annoying for correcting typos.

This is happening when suggestions are objects (which we fetch from an api).

Basically it looks like this gets called when I press backspace
`this.get('_typeahead').typeahead('val', '');`
(line 79 in addon/components/aupac-typeahead.

[2016-10-11 10:45] kennethlarsen commented on #29
Basically doing some thing like:

[code]

returns the expected behavior.

[2016-10-11 11:29] kennethlarsen opened #30 "Free input always allowed on objects"
When using objects instead of strings as suggestions free input is always allowed and `allowFreeInput` doesn't have any effect.

[2016-10-11 12:51] kennethlarsen commented on #30
If #29 was implemented something like this would work:

[code]

[2016-10-14 14:04] matthias-k commented on #12
Hi,

we are trying to trigger actions from the template, too. This has to fail as the template is rendered in its own component and therefore does not have access to any other scope. Here is a demonstration:

https://ember-twiddle.com/b90d4e28f787686e219d2fa133727f7c?openFiles=templates.suggestion-template.hbs%2C

I would be happy to help with implementing this (maybe in combination with allowing

[2016-11-30 05:51] tevch opened #32 "Doesn't display all found suggestions"
dropzoneSource: Ember.computed(function () {
        const _this = this;
        return function (query, syncResults, asyncResults) {
          var dropzones = _this.get('activeRegisteredDropzones');

          var results = dropzones.filter(function(record){
            var dz_name = record.get('dz_name');
            return dz_name.toLowerCase().indexOf(query.toLowerCase()) >= 0;
          });

[2016-12-02 19:50] tevch opened #33 "IE scrollbar is unusable"
in IE scrollbar click closes entire list of suggestions

[2016-12-02 23:58] pjcarly opened #34 "Support Ember 2.10 / Glimmer 2"
Hi,

First of all, I love the addon, it's really great.
However, I tried to upgrade my application to Ember 2.10  with Glimmer 2, and i'm running into an issue that I can trace back to this addon.

I don't really understand that much about it to be honest, but if you need any extra information or I can lend a hand, let me know.

`ember.debug.js:16911 Error: Cannot instantiate a component without a

[2016-12-03 00:11] jackmatt2 commented on #34
I think this has been fixed by #31

[2016-12-03 00:12] jackmatt2 commented on #33
What version of IE?  If you can supply a css fix for this I will accept a merge request.

[2016-12-03 00:15] jackmatt2 commented on #30
Fixed by #31

[2016-12-03 00:15] #30 closed

[2016-12-03 00:19] jackmatt2 commented on #29
Maybe this should be the default behaviour.

[2016-12-03 00:32] jackmatt2 commented on #29
This appears to be working for me.  I am pretty sure this feature only works with Strings though.

[2016-12-03 00:34] jackmatt2 commented on #29
Just tested with a ember-data model and it is working.

[2016-12-03 01:46] jackmatt2 commented on #34
ember-aupac-typeahead@2.1.0

[2016-12-03 01:48] jackmatt2 commented on #32
Could it be to do with the case "new york" vs "New York"?

[2016-12-03 01:54] jackmatt2 commented on #33
Did not occur in "Microsoft Edge" so must be another IE peculiarity.

[2016-12-03 12:06] jackmatt2 opened #35 "Not working on ember@2.10.0"
Still not working in 2.10.0, typo was actually a downgrade to 2.1.0.

[2016-12-03 12:55] pjcarly commented on #34
Cheers, confirmed to be fixed with 2.1, I upgraded before, but for some reason only to 2.0.8

[2016-12-03 21:26] jackmatt2 commented on #34
Can you confirm that it is working at ember@2.10.0?  I just release 2.1.0 yesterday, that is why you were only able to upgrade to 2.0.8 before.  It is not working for my locally at this version.

[2016-12-04 01:39] #34 closed

[2016-12-04 02:18] #35 closed

[2016-12-04 02:26] #8 closed

[2016-12-04 02:27] jackmatt2 opened #36 "Cleanup API"
Cleanup the API

* consistent and intuitive way to modify the selection/suggestion results as #14
* improve DELETE behaviour to be more user friendly #29
* Use components instead of templates #12
* Rename to ember-typeahead #7
* Add more tests and specifically cover all scenarios.

[2016-12-04 02:42] pjcarly commented on #34
I'm not having any problems with 2.10, working perfectly so far. if there's anything I can do to help you figure it out. Let me know

[2016-12-04 02:52] jackmatt2 commented on #29
After some experimentation I can see this issue now.  I have included it as part of a bigger cleanup issue.

[2016-12-04 04:07] jackmatt2 commented on #34
This is fixed now in the 2.1.1 release I will put out today.  I suspect you are using ember-data models which is working fine.  The problem was with models that were strings.

[2016-12-04 07:43] jackmatt2 commented on #32
As a test, can I suggest hard coding the returned results instead of actually hitting the API.  That might reveal something on interest.

[2016-12-04 07:46] jackmatt2 commented on #32
Since you are using the async function your might need `async=true` on the component also.  This is part of the typeahead API. I wouldn't mix `syncResults` and `asyncResults ` either.  Use one or the other.

[2017-02-03 10:46] kennethlarsen opened #38 "Not working in Ember 2.11"
I just upgraded to Ember 2.11 and aupac-typeahead is not working anymore.

It seems to be related to the creation and rendering of components: http://emberjs.com/deprecations/v2.x/#toc_code-rendertoelement-code

[2017-02-04 01:21] jackmatt2 commented on #38
What version of ember-aupac-typeahead are you using?  I just upgraded my local copy to ember@2.11.0 and it is working.  Can you first try upgrading to ember-aupac-typeahead@2.1.2.

[2017-02-06 13:07] kennethlarsen commented on #38
My bad - for some reason typeahead wasn't updated. Thanks!

[2017-02-06 13:07] #38 closed

[2017-02-15 18:33] gordonbisnor opened #39 "Overflow conflict with liquid-fire"
Hello ––let me first say thanks for the great addon!

I was experimenting with width auto, and overflow visible and ran into a conflict with liquid fire requiring overflow hidden.

Wondering if anyone has addressed this –– either in this addon or in a project. It occurred to me that perhaps this could use tether to get around this? – I could take a look at implementing if it would be of interest a

[2017-02-19 06:26] jackmatt2 commented on #39
Yes, will accept a pull request that fixes this.

[2017-02-23 11:05] panthony commented on #32
Since you are using async results you may encounter the following bug:

https://github.com/twitter/typeahead.js/pull/1212

[2017-02-23 11:10] panthony opened #40 "Highlight is broken with ember 1.13.X"
I have an application with ember `1.13.13` and using the `aupac-typeahead` component without any custom templates.

The suggestions are an array of string, no model, complex object or anything.

Previously with the `2.0.7` version the highlight was working fine, since I upgraded to the `2.1.2` I lost the highlight.

Looking at the piece of code doing the actual work in typeahead I noticed that the

[2017-02-23 13:26] jackmatt2 commented on #40
Just tested this myself and it is indeed broken in 1.13.13, works fine in 2.11.0.  Can I suggest not upgrading until your app hits 2.0 or is there something you need from the newer version?

[2017-02-23 13:32] panthony commented on #40
I have a new use case where I have an array of object instead and where I want to display a value in the input/suggestions but send another in the update.

I first tried to use the attribute `display` without success (same problem than #14 maybe ?) so I upgraded since the `displayName` was OOTB with the newest version.

I did not try using a custom suggestion template though.

I guess I'll downgra

[2017-02-23 14:13] panthony commented on #40
Ok so just FYI, using `2.0.7`:

- Passing a custom template like the following fixes the suggested values:

[code]

- Passing the following attribute:
[code]
Will fix the value shown in the input while browsing trough the suggestions

The only issue left is the displayed value once a value is selected where it's still `[Object object]`.

It could be fixed by passing a `transformSelection` action,

[2017-02-24 11:44] jackmatt2 commented on #40
OK, let me know how you go.  The whole API around this needs to be made simpler.

[2017-02-24 13:06] panthony commented on #40
@jackmatt2 I ended up doing this:

- reverting to `2.0.7` otherwise highlight is broken
- passing a custom suggestion template to display the object property `displayName`
- passing `display='displayName` to display the property of the active item correctly
- passing a `transformSelection` function that returns the item `displayName` property
- extending the component `aupac-typeahead` in order to

[2017-03-20 09:41] 0x4e3 opened #42 "'action' function triggers twice: when selecting and when changing focus"
Hi!
I uses component like this:
[code]
```getVehicle``` - is just an action with ```console.log(value)```
When I'm selecting item from a list of suggestions, I'm seeing ember model in the console, but when I'm pressing tab or clicking to another input I'm seeing another one output from the action — this time it's just a string.

Can you help me to understand, what am I doing wrong?

[2017-03-20 10:07] 0x4e3 commented on #42
I found the reason — just remove ```allowFreeInput=true```, and every thing's fine.
But I need to be able to input a "free" value to create new vehicle model if there is no such on the backend. Is it possible?

[2017-03-20 13:06] jackmatt2 commented on #42
Yes, this is possible.  Use the regular `aupac-typeahead` and map all your vin numbers from the store as a list of strings instead of `ember-data models`.  Use the `action` function create the vehicle class manually.

`{{aupac-typehead allowFreeInput=true minLength=5 placeholder="VIN" source=vins selection=(readonly slectedVehicle.vin) action=(action 'createVehicle')}}`

[2017-03-28 14:08] matthias-k opened #43 "How to use the the provided page-objects helper"
Hi,

We are using page objects for our testing and I noticed that `ember-aupac-typehead` comes with its own helper to construct page objects for typeahead components. However, I can't figure out how to import this helper in my tests. Could you give me a hint? I guess I have to import something in `tests/helpers/start-app.js` but nothing I have tried so far worked...

Best,
  Matthias

[2017-04-03 23:28] jackmatt2 commented on #43
Did you try importing via `import aupacTypeahead from ember-aupac-typeahead/pages/aupac-typeahead.js`?  Having said that I can't confirm if the helper is currently working as there are no tests using it.  If not, a pull request fixing it and documentation update would be appreciated.

[2017-04-04 00:10] snewcomer opened #45 "Dependency on typeahead.js"
Any thoughts on trying to integrate https://github.com/corejavascript/typeahead.js/ instead of what looks like the no longer maintained version of it?

[2017-04-04 21:30] theseyi commented on #45
I agree with this, there are several issues with the no longer maintained version of Twitter's typeahead, including https://github.com/twitter/typeahead.js/issues/1232 which has several PR's that are still open including the issue itself.

[2017-04-04 21:36] jackmatt2 commented on #45
Yep, can't see any issues with this. Will accept a pull request updating
the dependency assuming all tests pass.

On 5 Apr 2017 7:30 a.m., "Seyi Adebajo" <notifications@github.com> wrote:

[2017-04-05 00:10] theseyi commented on #45
@jackmatt2 will do in a minute

[2017-04-05 12:23] jackmatt2 commented on #45
Resolved via #46

[2017-04-05 12:23] #45 closed

[2017-04-05 12:24] #42 closed

[2017-04-05 12:25] jackmatt2 commented on #42
supplied workaround

[2017-04-05 12:27] jackmatt2 commented on #40
Workaround as above.

[2017-04-05 12:27] #40 closed

[2017-04-05 12:29] jackmatt2 commented on #32
This sounds like it would be resolved by #46

[2017-04-05 12:29] #32 closed

[2017-04-26 14:46] matthias-k commented on #43
@jackmatt2 I think the error was that I need to import from `aupac-typeahead/...` (i.e. without `ember`). I will create a PR once I have figured everything out, there seem to be some other issues with the page object (e.g., it's not using the helpers that the component provides and it doesn't make use of the context scope).

[2017-04-26 15:04] matthias-k opened #47 "component is requesting search results upon intialization"
Hi,

I have an app which uses many instances of `ember-aupac-typeahead` in one page. When I enter the corresponding route, all typeahead components are populated via the `selection` property. I just noticed that in this moment, all of them trigger the `source` function to request search results. This doesn't seem to make sense to me, since at this point the user has not interacted with the compone

[2017-05-03 11:04] jackmatt2 commented on #47
I am guessing that this is happening when the value of the typehead is set.

[code]

Not sure how to fix this thought because there is nothing in the typeahead documention about this.  I found an issue [here](http://stackoverflow.com/questions/41261377/prevent-ajax-call-on-empty-spaces-typeahead-js) with a similar (not the same) problem.

[2017-05-10 01:50] chrisortman commented on #43
I'm trying to get this working too, I can get it to set the value of the input box, but not display any of the suggestions. (in a component integration test)

[2017-05-16 20:40] robertbenjamin opened #50 "Uses Bower instead of NPM for some dependencies"
As of Ember 2.12, Ember [no longer installs Bower](https://emberjs.com/blog/2017/03/19/ember-2-12-released.html) to manage dependencies since it's a bit redundant when it NPM performs the same task.

It'd be nice to move the 4 dependencies in bower.json (pretender, faker, bootstrap, and corejs-typeahead) to package.json and reference them from their location in `node_modules` instead of the bower

[2017-05-16 22:34] jackmatt2 commented on #50
Sure, this seams reasonable. pretender & faker come from ember-cli-mirage so you might want to try updating that too. You will also need to ensure users can still use their own version on typeahead if they so choose.

[2017-05-24 00:25] robertbenjamin opened #51 "Not possible to use two on the same page"
It seems that the `selection` property is fixed and set globally for each page's scope. This means that if you have two typeahead autocomplete components on the same page, they will override each other's selection property, making it impossible to use two at the same time.

I think it would make the most sense for this component to require you to pass the name of the selection property to change w

[2017-05-24 03:10] robertbenjamin opened #52 "Unable to start locally due to dependency"
`ember-cli-htmlbars` seems to expect `ember` to be in `bower.json`. Without that bower dependency, running `ember serve` results in a crash due to a missing dependency of `ember-template-compiler`:

[code]

I'm at a bit of a loss for how to move forward, even the updated releases of `ember-cli-htmlbars` seems to still rely on using a Bower-installed version of Ember for the template compiler. If a

[2017-06-12 07:14] jackmatt2 commented on #51
This should not be the case unless you are binding to the exact same selection property.

[2017-06-12 07:15] jackmatt2 commented on #52
Can you give more context? Are you attempting to removed bower from ember-cli?

[2017-07-13 02:04] mharrisondev opened #55 "Error on 'ember serve' - unable to locate jQuery sourcemap"
Installed via ember cli.
Attempted a clean install of node_modules and bower files, made no difference.

yarn dependencies:
"ember-cli": "2.14.0"
"ember-aupac-typeahead": "git://github.com/aupac/ember-aupac-typeahead#master"

Launching project yields the following error:

[code]

[2017-07-13 03:15] MrGarry2016 opened #56 "Any support for multi select"
Thank you for this wonderful addon!
Is this addon support for multi select?

[2017-07-19 15:55] matthias-k commented on #47
I think I figured out a way to work around this problem: in `setValue`, I store the value of `selection` and the fact that it has not yet been searched for. Then, in `source` I can check whether `query` matches the `selection` and whether the component has already searched for this value. If not, I can ignore the search request. You can check my proof of concept in this [ember twiddle](https://emb

[2017-09-26 12:01] stickbyatlas commented on #55
I attempted to install this addon and got the same error above when rebooting my application. @mharrisondev Did you find a workaround?

[2017-09-27 02:41] mnifakram commented on #29
Does this issue still valid? I can't reproduce it! If anyone can give a hint or twiddle on how to reproduce it. I will be happy to fix it.

[2017-09-27 09:30] jackmatt2 commented on #56
Not currently.  If corejs-typeahead supports this it can be added though.

[2017-09-27 09:47] jackmatt2 commented on #55
@mharrisondev @stickbyatlas

It appears that it is having trouble with the bower dependency.

Below is a snippet from `index.js` which is where the files you are missing are included.

I am guessing that `app.bowerDirectory` is either missing, redefined or null for some reason.  Might be worth adding some `console.log` statements and having a look at what is happening.

[code]

[2017-09-27 09:51] jackmatt2 commented on #55
Might also be related to

as mentioned in #50

Therefore updating the plugin to use NPM instead of BOWER might solve this issue.  I would accept a pull request that makes this change.

[2017-09-27 09:54] jackmatt2 commented on #29
@mnifakram yes, this should still be an unresolved bug.

[2017-09-27 09:58] jackmatt2 opened #60 "Update to latest ember-cli, update all dependencies to NPM instead of BOWER"
1. Remove all dependencies on bower.
2. Update to latest version on ember-cli.

Will accept a pull request implementing this feature.

[2017-11-16 18:46] #50 closed

[2017-11-16 18:46] #51 closed

[2017-11-16 18:46] #52 closed

[2017-11-17 09:22] #56 closed

[2017-11-23 12:09] #60 closed

[2017-11-29 08:55] carrotalan commented on #55
We are also getting this issue.

This would mean as it stands, this addon is incompatible with Ember 2.12 and above

[2017-11-30 17:10] mnifakram opened #62 "Action not being called when cleared"
When clearing the field, action is not being called.

[2017-12-05 10:01] #62 closed

[2017-12-05 10:03] jackmatt2 commented on #55
Yes, agree.

[2017-12-06 21:44] jackmatt2 commented on #55
Currently working on this.

[2017-12-06 21:45] jackmatt2 commented on #50
Currently working on this.

[2017-12-07 00:06] mharrisondev commented on #55
Hi crew, sorry for the late reply.
We are no longer using this dependency in our project :cold_sweat:
I hope your changes work out :+1:

[2017-12-07 12:09] jackmatt2 commented on #55
FIXED ember-aupac-typeahead@3.0.0

[2017-12-07 12:09] #55 closed

[2017-12-07 12:11] jackmatt2 commented on #50
FIXED ember-aupac-typeahead@3.0.0

[2018-01-23 17:17] sasha-saveliev opened #64 "It shown only one suggestion"
Hi! I have related issue https://github.com/twitter/typeahead.js/issues/1381

[2018-01-24 10:43] #64 closed

[2018-03-13 13:52] Charizard commented on #29
Happening for me in `v3.0.0`

[2018-04-16 19:12] luketheobscure opened #65 "Breaks with Ember 3.1: Cannot read property 'fullName' of undefined"
Just upgraded a project to Ember 3.1 and this package throws an error when trying to instantiate - `TypeError: Cannot read property 'fullName' of undefined`.

It looks like the error stems from [this code](https://github.com/aupac/ember-aupac-typeahead/blob/ca3b89ed82171cddbfb9440f899f456cdf33dd2d/addon/components/aupac-typeahead.js#L134).

I found a similar issue [here](https://github.com/emberjs

[2018-06-19 10:36] pjcarly commented on #65
+1

[2018-06-27 09:45] #65 closed

[2018-07-08 07:06] Philosopher-G33k opened #69 "Cannot use "this" inside countrtySource method"
Hi,

I am unable to use "this" inside countrySource method.
using this.get or calling this.somefunction gives error.

In hbs file:
`{{aupac-typeahead action=(action (mut searchCriteria))
  class='form-control'
  source=countrySource
  placeholder='Search for a country'}}`

In component js:
`
countrySource : function(query, syncResults, asyncResults) {
        console.log(query);
        console.lo

[2018-07-08 09:15] jackmatt2 commented on #69
"this" is probably bound to a different context than the ember object.  It is a javascript issue rather than an ember one.  You can fix it in a number of ways including binding the function to a specific context`.bind()`, storing self somewhere `const self = this` and other methods.

[2018-07-31 19:22] mtHuberty opened #70 "Use of !important in CSS is making custom styling difficult and hard to debug"
Currently working in an open source project that uses ember-aupac-typeahead. This module appears to place a div behind the search bar with a white background and the use of !important on this div makes it difficult to use this module while doing custom styling. I see that !important is used in multiple places in the .css file, but the lines that gave me issue were these:

[code]

I would suggest r

[2018-08-16 15:21] veelci commented on #69
@Philosopher-G33k, does this work for you?

[code]

[2018-12-05 00:23] GCheung55 commented on #29
Happening in v3.1.0.

[2019-02-28 20:18] #70 closed

[2019-03-11 18:41] GCheung55 opened #73 "Add Fastboot Support"
`ember-aupac-typeahead` currently doesn't load when an application is served with Fastboot.

Attempting to load a page, even in development, shows the following error:

[code]

[2019-07-01 21:04] bahdvp opened #75 "Clearing input term does not call the action if the same search term is re-entered."
Steps to recreate on ember-aupac-typeahead 3.1.x and the following code:

[code]

1. Input "text" into search field
2. Using another action, clear searchInput (i.e. `this.set('searchInput', '');`)
3. Input "text" into search field again
4. No update occurs.

This issue does not occur if you use a different search term (i.e. "text" followed by "text_")

[2019-07-01 21:25] bahdvp commented on #75
I've just extended the class for now but it looks like this is because of line 253-260 in aupac-typeahead.js: `updateSelectionWhenChanged`.

When you clear searchInput, oldValue is updated to the first term (in the case above, `text`). On subsequent updates, oldValue is then equal to value and the action is never sent.

[2019-07-30 14:19] csprocket777 commented on #69
I'm struggling with the same thing right now. @veelci, that solution won't work because it's being called from the component and is provided from the template without an opportunity to provide a bound context. Doing the lamda function there only provides the function with the context of the component.

[2019-08-03 00:37] veelci commented on #69
@csprocket777 What version of Ember are you using?